.mobile-2{
    position: relative;
    right: 150px;
    z-index: -1;
}
.pad{
    padding: 150px 0px 150px 0px;
}
.imagesize-1{
    height: 80vh;
    width: 100%;
    vertical-align: middle;
    padding-top: 70px;
}
.hpad{
    padding-left: 170px;    
}
#banner-img1{
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
#banner-section2{
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.py-5{
    padding-top: 100px 50px 100px 50px;
}
    

    