.img-size{
    height: 40px;
}
.navbar{
    z-index: 1;
}
.bcolor{
    border-bottom: 3px solid #6bc449 ;
}
.nav-link:hover{
    color:#6bc449
}
.btn1{
    background-color: #6bc449;
    color: white;
    border-radius: 50px;
    border: none;
    width: 17%;
    height: 36px;
}
.imgsize-1{
    height: 70vh;
    width: 100%;
}
.pad{
    padding-top: 150px;
}
.hcolor{
    color: #6bc449;
    font-weight: 900;
}
.hcolor1{
    color: #6bc449;
}
.hpad{
    padding-left: 180px;
    padding-top: 50px;
}
.mobile1{
    position: relative;
    left: 219px;
    height: 60vh;
    width: 30%;
}
.mobile2{
    height: 60vh;
    width: 50%;
}
.btn2{
    background-color: #6bc449;
    color: white;
    border-radius: 50px;
    border: none;
    width: 25%;
    height: 36px;
    margin-left: 153px;
}
.banner{
    background-image: linear-gradient(to right,#6bc449 ,#6ad72f);
}
#footer,#footer1,#footer2{
    background-color: black;
}
.button{
    background-color: #6bc449;
}
#banner-img{
    background-image: url("images/banner-new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.button1{
    background-color: #6bc449;
    margin-bottom: 20px;
    width: 20%;
    height: 36px;
}
.bpad{
    margin-top: 50px;
    background-color: white;
}